#r "nuget:FShade.Imperative, 4.3.9"
#r "nuget:Aardvark.Base, 4.5.15"
#r "nuget:Aardvark.Base.FSharp, 4.5.15"
#r "nuget:Aardvark.Base.Incremental, 4.5.15"
#r "nuget:FShade.Core, 4.3.9"
#r "nuget:FShade, 4.3.9"
#r "nuget:FShade.GLSL, 4.3.9"
#r "nuget:Aardvark.Base.Rendering, 4.5.11"
